COMMERCE_PROVIDER=@vercel/commerce-wix
NEXT_PUBLIC_WIX_STORE_DOMAIN=ronny-wix-headless.com
NEXT_PUBLIC_WIX_STOREFRONT_ACCESS_TOKEN=1P3MX6OgC7NtXw9oRbu3EVd1r_gTkD3USOyyvt9-ZQU.eyJpbnN0YW5jZUlkIjoiNzNjYTBiYmItOGZiYi00N2Y5LTg3MjQtODIyNjczZWM4MjE2IiwiYXBwRGVmSWQiOiIyMmJlZjM0NS0zYzViLTRjMTgtYjc4Mi03NGQ0MDg1MTEyZmYiLCJtZXRhU2l0ZUlkIjoiNzNjYTBiYmItOGZiYi00N2Y5LTg3MjQtODIyNjczZWM4MjE2Iiwic2lnbkRhdGUiOiIyMDIyLTA2LTIzVDEzOjI2OjIxLjY2MFoiLCJkZW1vTW9kZSI6ZmFsc2UsImFpZCI6IjlkZGEwMTYyLTFhNzAtNDUzZC05Y2Y4LWQ3Yzg4MjhmY2UwMiIsInNpdGVPd25lcklkIjoiZTc2ZDcxNDQtNDI5My00ZWFmLWE4ZDktMDBjMjg5ZjQ3YjViIiwib2QiOiJyb25ueS13aXgtaGVhZGxlc3MuY29tIn0
